<div fxLayout="column" >
    <h4>Product Pitch</h4>
    <hr>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="45">
            <img src="" alt="video">
        </div>
        <div fxLayout="column" fxFlex="45">
            <h4>Customer review</h4>
            <div *ngFor="let user of reviews" class="containerPerfil" fxLayout="row">
                <img fxFlex="20" src="{{user.profilePicUrl}}" alt="">
                <div fxLayout="column">
                    <p><strong>{{user.name}}</strong></p>
                    <p>{{user.review}}</p>
                </div>
            </div>            
        </div>       
    </div>

</div>
