
.figureContainer > h5 {
    font-size: 15px;
    font-weight: 600;
    color: #0E2F3E;
}

.figureContainer > a {
    font-size: 11px;
    color: #0E2F3E;
    margin-top: 40px;
    text-decoration: none;
    font-weight: 800;
}

.figureContainer > a:hover {
    color: #67b4b8;
    cursor: pointer;
    font-weight: 800;
}
