<div fxLayout="row" fxLayoutAlign="start start">
    <img class="descImg" src="/assets/imgs/descImg.jpg" alt="img descriptiva del producto">
    <div  fxLayout="column">
        <span style="color: #33cccc;font-size: 17px; padding-left: 10px;" fxLayout="row" fxLayoutAlign="end center">
            <i  class="bi bi-star-fill"></i>
            <i  class="bi bi-star-fill"></i>
            <i  class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i style="color: #535757"  class="bi bi-star-fill"></i>
        </span>
        <span class="subt">{{title}}</span>
        <p class="desc">{{desc}}</p>
        <div class="details" fxLayout="column" fxLayoutAlign="center start">
            <h3>according to<span>expenses / excl. VAT</span></h3>
            <p><strong>Price:</strong>{{details.price}}</p>
            <p><strong>Duration:</strong>{{details.duration}}</p>
            <p><strong>Billing Type:</strong>{{details.billingType}}</p>
            <p><strong>Contract type:</strong>{{details.contractType}}</p>
        </div>
        <span class="buttonAdd" (click)="cart.addItemToCart()"><a>ADD TO LIST<i class="bi bi-cart-plus"></i></a></span>       
    </div>
</div>
<hr>
<div class="sponsor"  fxLayout="row" fxLayoutAlign="space-evenly center">
    <img *ngFor='let url of sponsorLogos; index as i'  src="{{url}}" alt="sponsor image {{i}}">
</div>
