<div fxLayout="column" fxFlex>
    <h4>Why,How,What</h4>
    <hr>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="45">
            <p><strong>why?</strong></p>
            <p>{{whyText}}</p>
        </div>
        <div fxLayout="column" fxFlex="45">
            <p><strong>how?</strong></p>
            <p>{{howText}}</p>
        </div>       
    </div>
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="45">
            <img src="{{imgUrl}}" alt="content image">
        </div>
        <div fxLayout="column" fxFlex="45">
            <p><strong>what?</strong></p>
            <p>{{whatText}}</p>
        </div>
    </div>
</div>
