.fixed-arriba {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.navDiv{
    background-color: #DBE3E5;
    border-radius: 24px;
}

.navDiv > div{
    
    color: #0E2f3E;
    font: 16px "Source Sans Pro";
    padding: 10px 24px;

}

.spanNav{

    padding: 5px 15px;

}

.spanNav > a{
    color: #222426;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 800;
}

.spanNav > a:hover{
    border: 1px solid;
    border-radius: 16px;
}

nav{
    padding: 45px 0px 0px;    
    width: 95%;
    
}

.container{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 2%;
    border: 0px solid;
    border-radius: 16px;
    box-shadow: 1px 2px 3px #c4c2c28a

}