<!--start of navbar section -->
<div class="fixed-arriba" fxLayoutAlign="center center">
  <nav>
    <div class="navDiv" fxLayout="row" >
      <div fxFlex="10" fxLayoutAlign="center center">
        <a href="#">
          <img id="logo-main" src="assets/Logo_happy.png" width="40" alt="Logo Thing main logo">
        </a>
      </div>
      <div fxFlex fxLayoutAlign="center center">
        <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
        <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
      </div>
      <div fxFlex="10" fxLayoutAlign="center center">
        <span  class="spanNav"><a style="font-size: 14px;" href="#"><i style="font-size: 17px;" class="bi bi-bag"></i>{{cart.getcartItems()}}</a></span>    
      </div>
    </div>
  </nav>
</div>
<!-- end of navbar section -->
<div style="padding-top: 10%;"></div>

<div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <div class="container">
    <app-title
    [title]="'HAFN-IT CLOUD CONNECT'"
    [desc]="'The actual analysis for effort evaluation'"
    [labels]="['MANAGED SERVICES','MODERN WORKPLACE']"
    ></app-title>
  </div>
  <div class="container"> 
    <app-desc-and-prices
    [title]="'Actual analysis for effort evaluation'"
    [desc]="'Translate securely to the cloud: HAFN IT Cloud Connect Lift & Shift is not our thing. Based on your existing IT setup, we create the conditions to efficiently use Microsoft cloud services for your business.'"
    [details]="{price:'Individual offer',duration:'3-7 days (by company size)',billingType:'Billing according to actual effort',contractType:'Project order'}"
    [sponsorLogos]="['assets/imgs/logos/logo_hafn-01.png','assets/imgs/logos/logo_hafn-02.png','assets/imgs/logos/logo_hafn-03.png','assets/imgs/logos/logo_hafn-04.png','assets/imgs/logos/logo_hafn-05.png','assets/imgs/logos/logo_hafn-06.png']"
    ></app-desc-and-prices>
  </div>
  <div class="container">  
    <app-why-who-what
    [whyText]="'Of course, not all operational topics can be lifted ad hoc to the cloud. We illuminate all topics and services of your current IT and find out which services in your company will have to run on site in the future and which can be easily relocated to the cloud.'"
    [howText]="'HAFN IT evaluates the status quo of its services and applications on the basis of a structured approach and documents the current configuration. We accompany you in the complete conversion process to a hybrid infrastructure, work in close cooperation with your IT department and also take care of the training of the users.'"
    [imgUrl]="'assets/imgs/whwContent.jpg'"
    [whatText]="'Especially for standard applications: If you run cloud-based, you are a real plus in terms of cost efficiency and flexibility. We call this scalability and thus mean the precise adaptability to your current requirements.'"
    ></app-why-who-what>
  </div>
  <div class="container">  
    <app-product-pitch
    [reviews]="[{name:'Daniel Frick, CEO Witzenmann',review:'Hafn-IT Managed our services. Also our telephony teams. Since then, we have less effort and can quickly book or unsubscribe from performance.',profilePicUrl:'assets/imgs/profiles/1.png'},
    {name:'Daniel Frick, CEO Witzenmann',review:'Hafn-IT Managed our services. Also our telephony teams. Since then, we have less effort and can quickly book or unsubscribe from performance.',profilePicUrl:'assets/imgs/profiles/2.png'}]"
    ></app-product-pitch>
  </div>
  <div class="container">
    <app-learn-more
    [websites]="[{name:'HAFN-IT Website',urlImage:'assets/imgs/enterprise/1.jpg'}]"
    ></app-learn-more>
  </div>
  <div class="container">
    <app-faq></app-faq>    
  </div>
  <div class="container colored">
    <app-products   [products]="[{imageUrl:'assets/imgs/enterprise/2.jpg',productName:'Cloud Transition',productDesc:'The implementation of the project on the basis of the concept from the Cloud Connect Assessment'},{imageUrl:'assets/imgs/enterprise/1.jpg',productName:'HAFN-IT Microsoft 365 Landing Zone',productDesc:'Landing zone for your managed services'}]"
    ></app-products>
  </div>
</div>
<router-outlet></router-outlet>
