
<div class="fixed-arriba" fxLayoutAlign="center center">
<nav>
<div class="navDiv" fxLayout="row" >
  <div fxFlex="10" fxLayoutAlign="center center">
    <a href="#">
    <img id="logo-main" src="assets/Logo_happy.png" width="40" alt="Logo Thing main logo">
  </a>
  </div>
  <div fxFlex fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#" (click)="cart.addItemToCart()"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>

  <div fxFlex="10" fxLayoutAlign="center center">
    <span class="spanNav"><a href="#">{{cart.getcartItems()}}<i class="bi bi-bag"></i></a></span>    
  </div>
</div>
</nav>
</div>

<div style="padding-top: 15%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <h1>HAFN-IT CLOUD CONNECT</h1>
  <h4>The actual analysis for effort evaluation</h4>
  <div fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>
</div>

<div style="padding-top: 5%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <h1>HAFN-IT CLOUD CONNECT</h1>
  <h4>The actual analysis for effort evaluation</h4>
  <div fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>
</div>

<div style="padding-top: 5%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <h1>HAFN-IT CLOUD CONNECT</h1>
  <h4>The actual analysis for effort evaluation</h4>
  <div fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>
</div>
<div style="padding-top: 5%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <h1>HAFN-IT CLOUD CONNECT</h1>
  <h4>The actual analysis for effort evaluation</h4>
  <div fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>
</div>
<div style="padding-top: 5%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <h1>HAFN-IT CLOUD CONNECT</h1>
  <h4>The actual analysis for effort evaluation</h4>
  <div fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>
</div>
<div style="padding-top: 5%;" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign="center center">
  <h1>HAFN-IT CLOUD CONNECT</h1>
  <h4>The actual analysis for effort evaluation</h4>
  <div fxLayoutAlign="center center">
    <span class="spanNav"><a href="#"><i class="bi bi-eye" style="font-size: 20px;"></i>DASHBOARD</a></span>
    <span class="spanNav"><a href="#"><i class="bi bi-building"></i>PORTAFOLIO</a></span>
  </div>
</div>
<router-outlet></router-outlet>
