@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: sans-serif;
    padding-left: 60px;    
    padding-right: 60px;   
}

hr{
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: #858c91;
}


