

.label{
    transition: all .7s ease;
    border: 2px solid;
    border-radius: 30px;
    border-color: #36606e;
    padding: 8px;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 11px;
    color: rgb(74, 73, 77);;
    font-weight: 600;   

}

h2{
    font-size: 45px;
    font-weight: 700;
    color: #0e2f3e;
}

h4{
    padding-top: 15px;
    font-weight: 700;
    color: #0e2f3e;
}

.label:hover{
    background-color: #36606e;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
